site_name: OBP Architecture Documentation
site_url: https://openbraininstitute.github.io/platform-docs/
repo_url: https://github.com/openbraininstitute/platform-docs
copyright: "&copy; 2024 Blue Brain Project/EPFL, 2025 Open Brain Institute"
extra:
  generator: false
nav:
  - Home: README.md
  - Overview: overview/README.md
  - Services:
      - modules/README.md
      - Accounting Service:
          - modules/accounting/README.md
          - modules/accounting/accounting.md
          - Resources: modules/accounting/resources.md
      - Agent:
          - Overview: modules/agent/README.md
          - Resources: modules/agent/resources.md
      - Auth-Manager:
          - Resources: modules/auth-manager/resources.md
      - Authnz:
          - Overview: modules/authnz/README.md
          - Resources: modules/authnz/resources.md
      - Core-Web-App: modules/corewebapp/README.md
      - EntityCore:
          - Overview: modules/entitycore/README.md
          - Resources: modules/entitycore/resources.md
      - Launch System:
          - Resources: modules/launch-system/resources.md
      - Notebooks: modules/notebooks/README.md
      - obi-one:
          - Overview: modules/obione/README.md
          - Resources: modules/obione/resources.md
      - Point Cloud:
          - Overview: modules/pointcloud/README.md
          - Resources: modules/pointcloud/resources.md
      - Small Scale Simulator: modules/small-scale-simulator/README.md
      - Thumbnail:
          - Overview: modules/thumbnail/README.md
          - Resources: modules/thumbnail/resources.md
      - VLab:
          - Overview: modules/vlab/README.md
          - Resources: modules/vlab/resources.md
      - Template: modules/template/README.md
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn
theme:
  name: material
  icon:
    logo: fontawesome/solid/brain
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.indexes
    - navigation.expand
    - content.code.copy
    - content.action.edit
    - toc.integrate
    - toc.follow
    - search.suggest
    - search.highlight
extra_css:
  - assets/stylesheets/extra.css
plugins:
  - search
  - callouts
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - nl2br # for mkdocs-callouts
  - sane_lists
  - toc:
      permalink: "#"
      toc_depth: 3
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
docs_dir: docs
edit_uri: edit/main/docs
site_dir: build
